@import "../../node_modules/bootstrap/scss/_functions.scss"
@import "../../node_modules/bootstrap/scss/_variables.scss"

$enable-negative-margins: true

$font-sizes: map-merge($font-sizes,(x5: 5rem, x4: 4.5rem, x3: 4rem, x2: 3.5rem, x1: 3rem, 7: .75rem, 8: .5rem, 9: .25rem))



.transparent
    border-bottom: 1px solid #ffffff4f
    border-top:1px solid #ffffff4f
    border-collapse: collapse

.cucurbit
    font-family: courgette

.btn-group
    margin-bottom:15%


.carousel-indicators [data-bs-target] 
    box-sizing: content-box
    flex: 0 1 auto
    width: 13px !important
    height: 13px !important
    margin-right: 5px
    margin-left: 5px
    background-color: #ffffff
    background-clip: padding-box
    border: 5px solid red
    transition: opacity .6s ease
    border-radius: 50% !important






