@import "./_font"
@import "./_icon"
@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"

body
    background-image: url("../img/main_bg.jpg")
    background-repeat: repeat-x repeat-y
    height: auto
    border-bottom: 10px solid transparent
    padding: 0
    margin: 0
header
    background-image: linear-gradient(rgba(38, 38, 58, 0.7),rgba(39, 38, 48, 0.6)), url("../img/banner1.jpg")
    background-size: cover
    background-repeat: no-repeat
.navbar-nav
    li
        margin-top:35px
        a:hover
            background-color: #C42D40
.carousel-indicators .active
    color: white
    width: 6px !important
    height: 6px !important
    border: 6px double white
    margin-top: 7px
.carousel-inner
    padding-bottom: 150px
.borderbottom
    background-image: url("../../public/img/bottom_decoration_img.png")
    background-color: transparent
    height: 10px
    background-position: center
.bordertop
    background-image: url("../../public/img/footer_bottom_decoration_img.png")
    background-color: transparent
    height: 10px
    background-position: center

.containersect2
    background-image: url("../../public/img/team_background.jpg")
    width: 100% auto
    height: auto
.container:first-of-type
    background-color: white
    border: 1px solid #5858582d
.nav-pills .nav-link
    border: 1px solid #5858582d
    width:18vw
    height: 10vw
    i
        color: grey
.nav-pills .nav-link.active
    background-color: white
    border-right: 4px solid #C42D40 
    i
        color:#C42D40

.grow1
    display: flex
    flex-grow: 1
.grow2
    display: flex
    flex-grow: 2
.right
    float: right
.left
    float: left
.center
    display: flex
    justify-content: center !important
.booking
    background-image: url("../../public/img/book_table_bg.jpg")
    background-size: cover
    border-radius: 20px
.shadeofgrey
    color: #ffffffb9

.blog1, .blog2
    .img
        position: relative
        
    .likes
        position: absolute
        z-index: 1 !important
        left: 45px
        top: 250px
.testimonial
    background-image: linear-gradient(rgba(38, 38, 58, 0.7),rgba(39, 38, 48, 0.6)), url(../../public/img/testimonials_background.jpg)
    background-size: cover
    height: auto

footer
    background-image: url("../../public/img/footer_background.jpg")
    background-size: cover
    height: auto
.red-footer
    background-color: #C42D40 
    background-size: cover
    height: 90px
.icon-footer
    i
        font-size: 25px  






