@import "./_font"
@import "./_icon"
@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"


header
    background-image: linear-gradient(rgba(38, 38, 58, 0.7),rgba(39, 38, 48, 0.6)), url("../img/banner1.jpg")
    background-size: cover
    background-repeat: no-repeat
    


.navbar-nav
    li
        margin-top:35px
        a:hover
            background-color: #C42D40

.carousel-indicators .active
    color: white
    width: 6px !important
    height: 6px !important
    border: 6px double white
    margin-top: 7px

.carousel-inner
    padding-bottom: 150px

.borderbottom
    background-image: url("../../public/img/bottom_decoration_img.png")
    background-color: transparent
    height: 10px
    background-position: center

.containersect1
    background-image: url("../img/main_bg.jpg")
    background-repeat: repeat-x repeat-y
    height: auto
    border-bottom: 10px solid transparent

.container:first-of-type
    background-color: white
    border: 1px solid #5858584f

    
    

    
    
    

                
                
                
            
                
